@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap');

* {
  padding: 0;
}


body {
  margin: 0;
  font-family: 'Rajdhani','Segoe UI', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7e1;
}

.app {
  margin-top: -10px;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-elements {
  display: flex;
  flex-direction: row;
}

.header-element {
  width: 100px;
  height: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  color: #edf0f4;
}

.header-element > a {
  text-decoration: none;
  font-size: 18px;
}

.header-element > a.active {
  color: #fab631;

}

.header-element > a:hover {
  color: #fab631;
}

.about-me-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

@media only screen and (max-width: 415px) {

    .app-header {
      width: 100vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

    }

    .header-element {
      height: 30px;
      width: 70px;
      margin: 0 5px;
      border-radius: 10px;
    }

    .header-element > a {
      text-decoration: none;
      font-size: 15px;
    } 
}

